<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['carreraTecnica']">Carrera Técnica</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['inscripcion']">Inscripción</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li>
            <a [routerLink]="['login']" class="btn btn-primary">Login</a>
          </li>
          <li class="nav-item dropdown ms-2 me-2">
            <a class="btn btn-warning dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Alvaro González
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
              <li><a class="dropdown-item" href="#">Perfil</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>